.sectionContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0 16px;
    text-align: center;
}

.sectionTitle {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: "Syne", sans-serif;
}

@media (max-width: 1024px) {
    .sectionTitle {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .sectionTitle {
        font-size: 1.7rem;
    }

    .sectionContainer {
        margin-top: 1.5rem;
    }
}

@media (max-width: 480px) {
    .sectionTitle {
        font-size: 1.4rem;
    }

    .sectionContainer {
        margin-top: 1.2rem;
    }
}